
html { 
  background-color: goldenRod;
  text-align: center;
}
  h1 {
    border: 5px solid red;
    font: 100px 'Lobster', cursive;
    text-align: center;
  }
  p { 
    font: 25px 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
  }
