
html {
  background-color: snow;
  color: black;
  text-align: center;
}
h1 {
  font-size: 30px;
  background-color: darkMagenta;
  border: 5px solid red;
}
img {
  bprder: 5px solid darkMagenta;
  text-align: center;
}
ul {
  background-color: lightYellow;
  font-size: 20px;
}
p {
  font-size: 20px;
}

