 
 html {
    background-color: wheat;
    color: black;
    text-align: center;
  }
  h1 {
    color: snow;
    background-color: darkMagenta;
  }
  img {
    border: 5px solid tan;
  }
p {
font-size: 25px
margin: 30px;
}
