
html { 
  background-color: burlyWood;
  text-align: center;
}
  h1:hover {
    background-color: darkMagenta;
    color: bisque;
    border: 5px solid red;
    font: 100px 'Lobster', cursive;
    text-align: center;
  }
  ul { 
    background-color: wheat;
    font: 25px 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
  }

